<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="navbar-header pull-left">
      <%= link_to 'Alpha Blog', root_path, html_options = {class: 'navbar-brand'} %>
    </div>
</nav>